<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Optimizely for iOS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="https://www.optimizely.com/static/fonts/51725/AC0879F154810B232.css">
        <link rel="stylesheet" href="/css/styles.css">
        <!--<script src="js/vendor/modernizr-2.7.1.min.js"></script>-->
    </head>
    <body id="ios">
        <div id="top">
          <header>
            <p id="logo">Optimizely</p>
            <ul>
              <li><a href="#">Features &amp; Benefits</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Customers</a></li>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Jobs</a></li>
            </ul>
          </header>
          <section id="hero">
            <h1>Fast and scalable A/B testing for iOS apps.</h1>
            <a href="" id="video">Watch video</a>
            <div class="signup-form">
              <p>Announcing Optimizely for iOS Beta.</p>
              <form class="signup-ios">
                <input type="text" id="email-signup" placeholder="email address">
                <input type="submit" value="Sign up" id="submit-signup">
              </form>
            </div><!--/.signup-form-->
          </section><!--/#hero-->
        </div><!--/#top-->
        <div role="main">
          <main>
            <section id="visual-changes-features" class="gray-section">
              <h2>Launch experiments faster than you can say <b><q>Optimization</q></b></h2>
              <p>Make visual changes to your app on the fly using Optimizely's code-free visual editor. Push changes to the app without waiting for App Store review.</p>
              <div id="visual-changes-demo">
                <div id="visual-change-phone">
                  <span id="visual-change-image"></span>
                  <span id="visual-change-button"></span>
                </div>
                <div id="visual-change-options">
                  <div id="visual-change-image">
                    <p>Image</p>
                    <span id="visual-change-image-slider"></span>
                  </div>
                  <div id="visual-change-button-text">
                    <p>Button text</p>
                    <input id="visual-change-button-text" type="type">
                  </div>
                  <div id="visual-change-button-color">
                    <p>Button color</p>
                    <div id="visul-change-color">
                      <a href="#" id="visual-change-blue"></a>
                      <a href="#" id="visual-change-green"></a>
                      <a href="#" id="visual-change-orange"></a>
                    </div>
                  </div>
                </div>
              </div><!--/#visual-changes-demo-->
              <div id="visual-changes-icons">
                <div id="visual-changes" class="feature">
                  <h3>Visual changes</h3>
                  <p>Make visual changes to your app in real time. No code required.</p>
                </div><!--/#visual-changes-icon-->
                <div id="starts-seconds" class="feature">
                  <h3>Starts in seconds</h3>
                  <p>One-time installation lets you get set up in seconds.</p>
                </div><!--/#starts-seconds-->
                <div id="instant-rollout" class="feature">
                  <h3>Instant rollout</h3>
                  <p>Test and roll out visual changes immediately without waiting for App Store review.</p>
                </div><!--#instant-rollout-->
              </div>
            </section><!--/#visual-changes-->
            <section id="flexible-powerful" class="blue-section">
              <h2><b>Flexible</b> and <b>powerful</b> developer tools.</h2>
              <p>Stop compromising between speed and power. Optimizely's simple developer SDK makes it easy to test and target even the most custom features.</p>
              <div id="switch-interface-cont">
                <div id="switch-interface-phone"></div>
                <div id="switch-interface-switcher">
                  <span id="switch-interface-a">a</span>
                  <span id="switch-interface-b">b</span>
                  <span id="switch-interface-slider"></span>
                </div>
              </div><!--/#switch-interface-cont-->
            </section><!--/#flexible-powerful-->
            <section id=-"trusted" class="white-section">
              <h2>The most trusted and scalable optimization platform in the world.</h2>
              <p>Optimizely for iOS is built in the world's #1 optimization platform, trust by more than 6,000 customers globally.</p>
              <div class="container" id="trusted-features">
                <div class="feature" id="world-class">
                  <h3>World-class analytics platform</h3>
                  <p>Just <q>point and tap</q> to select goals, then analyze results in real time using Optimizely's world-class analytics platform. Roll out winning vairations with a single click.</p>
                </div><!--/.feature-->
                <div class="feature">
                  <h3>Incredibly responsive</h3>
                  <p>Rest easily knowing your experiments are being delivered quickly and reliably via Optimizely's one-of-a-kind CDN architecture.</p>
                </div><!--/.feature-->
                <div class="feature">
                  <h3>Enterprise scale at startup speed</h3>
                  <p>Optimizely is already trusted by more than 6,000 of the world's top companies, including CNN, Yelp, Starbucks, and many more.</p>
                </div><!--/.feature-->
              </div>
            </section><!--/#trusted-->
            <section>
              <h2>Sign up for Optimizely iOS beta</h2>
            </section>                        
          </main>
          {{> body }}
        </div>
        <footer></footer>
    </body>
</html>