<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Optimizely for iOS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="https://www.optimizely.com/static/fonts/51725/AC0879F154810B232.css">
        <link rel="stylesheet" href="css/styles.css">
        <!--<script src="js/vendor/modernizr-2.7.1.min.js"></script>-->
    </head>
    <body id="ios">
        <div id="top">
          <header>
            <p class="logo"><a href="/">Optimizely</a></p>
            <ul class="nav-main">
              <li class="dropdown-hover"><a href="/benefits">Features &amp; Benefits</a>
                <ul class="dropdown-menu-nav-main">
                  <li><a href="/pricing">Plans and Pricing</a></li>
                  <li><a href="/benefits">Benefits</a></li>
                  <li><a href="/agencies" class="SL_hide">Optimizely for Agencies</a></li>
                  <li><a href="/developers" class="SL_hide">Optimizely for Developers</a></li>
                  <li><a href="/ecommerce" class="SL_hide">Optimizely for E-commerce</a></li>
                  <li><a href="/enterprises" class="SL_hide">Optimizely for Enterprises</a></li>
                  <li><a href="/publishers" class="SL_hide">Optimizely for Publishers</a></li>
                  <li><a href="/small-business" class="SL_hide">Optimizely for Small Business</a></li>
                </ul>
              </li>
              <li><a href="/pricing">Pricing</a></li>
              <li class="dropdown-hover"><a href="/customers">Customers</a>
                <ul class="dropdown-menu-nav-main">
                  <li><a href="/customers">Customer List</a></li>
                  <li><a href="/customers/customer-stories">Customer Stories</a></li>
                </ul>
              </li>
              <li class="dropdown-hover"><a href="/ab-testing">Resources</a>
                <ul class="dropdown-menu-nav-main">
                  <li><a href="/ab-testing">What is A/B Testing?</a></li>
                  <li><a href="/split-testing">What is Split Testing?</a></li>
                  <li><a href="/gettingstarted">Getting Started</a></li>
                  <li><a href="/resources/live-demo-webinar">Live Demo Signup</a></li>
                  <li><a href="/faq">FAQ</a></li>
                  <li><a href="https://help.optimizely.com" target="_blank">Knowledge Base</a></li>
                  <li><a href="/docs/api">API Documentation</a></li>
                  <li id="SL-link-blog" class="SL_swap"><a href="http://blog.optimizely.com" target="_blank">Blog</a></li>
                  {% comment %}<li><a href="/whatismultivariatetesting">What is Multivariate Testing?</a></li>{% endcomment %}
                  {% comment %}<li><a href="/casestudies">Case Studies</a></li>{% endcomment %}
                </ul>
              </li>
              <li><a href="/jobs">Jobs</a></li>
            </ul>
          </header>
          <header>
            <p id="logo">Optimizely</p>
            <ul>
              <li><a href="#">Features &amp; Benefits</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Customers</a></li>
              <li><a href="#">Resources</a></li>
              <li><a href="#">Jobs</a></li>
            </ul>
          </header>
          <section id="hero">
            <h1>Fast and scalable A/B testing for iOS apps.</h1>
            <a href="" id="video">Watch video</a>
            <div class="signup-form">
              <p>Announcing Optimizely for iOS Beta.</p>
              <form class="signup-ios">
                <input type="text" class="email-signup" placeholder="email address">
                <input type="submit" value="Sign up" class="submit-signup">
              </form>
            </div><!--/.signup-form-->
          </section><!--/#hero-->
        </div><!--/#top-->
        <div role="main">
          <main>
            <section id="visual-changes-features" class="gray-section light">
              <div class="container">
                <div class="section-container">
                  <h2>Launch experiments faster than you can say <b><q>Optimization</q></b></h2>
                  <p>Make visual changes to your app on the fly using Optimizely's code-free visual editor. Push changes to the app without waiting for App Store review.</p>
                </div><!--/.seciton-container-->
                <div id="visual-changes-demo">
                  <span id="visual-change-photo" class="a"></span>
                  <span id="visual-change-button">Book it now!</span>
                  <div id="visual-change-options">
                    <div id="visual-change-image" class="change-option">
                      <p>Image</p>
                      <div class="visual-slider-cont">
                        <span class="left-label">a</span>
                        <span class="right-label">b</span>
                        <span class="slider"></span>
                      </div><!--/.visual-slider-cont-->
                      <span id="visual-change-image-slider"></span>
                    </div>
                    <div id="visual-change-button-text" class="change-option">
                      <p>Button text</p>
                      <input id="visual-change-input" type="text" placeholder="Book it now!">
                    </div>
                    <div id="visual-change-button-color" class="change-option">
                      <p>Button color</p>
                      <div id="visul-change-color" class="clearfix">
                        <a href="#" id="visual-change-blue" class="color-btn"></a>
                        <a href="#" id="visual-change-green" class="color-btn"></a>
                        <a href="#" id="visual-change-orange" class="color-btn"></a>
                      </div>
                    </div>
                  </div>
                </div><!--/#visual-changes-demo-->
                <div id="visual-changes-icons" class="feature-container">
                  <div id="visual-changes" class="feature">
                    <h3>Visual changes</h3>
                    <p>Make visual changes to your app in real time. No code required.</p>
                  </div><!--/#visual-changes-icon-->
                  <div id="starts-seconds" class="feature">
                    <h3>Starts in seconds</h3>
                    <p>One-time installation lets you get set up in seconds.</p>
                  </div><!--/#starts-seconds-->
                  <div id="instant-rollout" class="feature">
                    <h3>Instant rollout</h3>
                    <p>Test and roll out visual changes immediately without waiting for App Store review.</p>
                  </div><!--#instant-rollout-->
                </div>
            </div><!--/.container-->
            </section><!--/#visual-changes-->
            <section id="flexible-powerful" class="blue-section">
              <div class="container">
                <h2><b>Flexible</b> and <b>powerful</b> developer tools.</h2>
                <p>Stop compromising between speed and power. Optimizely's simple developer SDK makes it easy to test and target even the most custom features.</p>
                <div id="switch-interface-cont">
                  <div id="switch-interface-phone"></div>
                  <div id="switch-interface-switcher">
                    <span id="switch-interface-a">a</span>
                    <span id="switch-interface-b">b</span>
                    <span id="switch-interface-slider"></span>
                  </div>
                </div><!--/#switch-interface-cont-->
                <div class="feature-container">
                  <div id="live-variables" class="feature">
                    <h3>Live variables</h3>
                    <p>Make on-the-fly changes to variables integrated into your app.</p>
                  </div><!--/.feature-->
                  <div id="web-mobile" class="feature">
                    <h3>Web &amp; mobile</h3>
                    <p>The only platform in the world that lets you optimize your website and your mobile app.</p>
                  </div><!--/.feature-->
                  <div id="code-blocks" class="feature">
                    <h3>Code blocks</h3>
                    <p>Test entirely custom features and designs and then gradually roll them out to users.</p>
                  </div><!--/.feature-->
                </div><!--/.feature-container-->
              </div><!--/.container-->
            </section><!--/#flexible-powerful-->
            <section id="trusted" class="light">
              <div class="container">
                <h2>The most trusted and scalable optimization platform in the world.</h2>
                <p>Optimizely for iOS is built in the world's #1 optimization platform, trust by more than 6,000 customers globally.</p>
                <div class="features-container">
                  <div class="feature" id="world-class">
                    <h3>World-class analytics platform</h3>
                    <p>Just <q>point and tap</q> to select goals, then analyze results in real time using Optimizely's world-class analytics platform. Roll out winning vairations with a single click.</p>
                  </div><!--/.feature-->
                  <div class="feature" id="incredibly-responsive">
                    <h3>Incredibly responsive</h3>
                    <p>Rest easily knowing your experiments are being delivered quickly and reliably via Optimizely's one-of-a-kind CDN architecture.</p>
                  </div><!--/.feature-->
                  <div class="feature" id="enterprise-scale-startup-speed">
                    <h3>Enterprise scale at startup speed</h3>
                    <p>Optimizely is already trusted by more than 6,000 of the world's top companies, including CNN, Yelp, Starbucks, and many more.</p>
                  </div><!--/.feature-->
                </div>
              </div><!--/.container-->
            </section><!--/#trusted-->
            <section id="signup-bottom">
              <h2>Sign up for Optimizely iOS beta</h2>
              <div class="signup-form">
                <form class="signup-ios">
                  <input type="text" class="email-signup" placeholder="email address">
                  <input type="submit" value="Sign up" class="submit-signup">
                </form>
              </div><!--/.signup-form-->
            </section>                        
          </main>
          {{> body }}
        </div>
        <footer>
          <div class="container">
            <div class="row">
              <div class="footer-rightsreserved columns five">
                <p>&copy; {{ copyright_year }}, Optimizely. All Rights Reserved</p>
                <p>
                  <span id="SL-link-terms" class="SL_swap"><a href="/terms">Terms of Service</a></span>
                  <span>|</span>
                  <span id="SL-link-privacy" class="SL_swap"><a href="/privacy">Privacy Policy</a></span>
                  <span>|</span>
                  <a href="/security">Security</a>
                </p>
                <p>
                  <span id="SL-link-twitter" class="SL_swap"><a href="http://www.twitter.com/optimizely" class="footer-twitter">Twitter</a></span>
                  <span id="SL-link-facebook" class="SL_swap"><a href="http://www.facebook.com/optimizely" class="footer-facebook">Facebook</a></span>
                  <span id="SL-link-gplus" class="SL_swap"><a href="https://plus.google.com/113842166556345533815/posts" class="footer-gplus">Google Plus</a></span>
                </p>
              </div><!--/.footer-rightsreserved-->
              <div class="columns three">
                <h4>Product Features &amp; Benefits</h4>
                <p><a href="/pricing">Plans and Pricing </a></p>
                <p><a href="/benefits">Benefits</a></p>
                <p><a href="/mobile" class="SL_hide">iOS Developer Preview</a></p>
                <p><a href="/agencies" class="SL_hide">Optimizely for Agencies</a></p>
                <p><a href="/developers" class="SL_hide">Optimizely for Developers</a></p>
                <p><a href="/ecommerce" class="SL_hide">Optimizely for E-commerce</a></p>
                <p><a href="/enterprises" class="SL_hide">Optimizely for Enterprises</a></p>
                <p><a href="/publishers" class="SL_hide">Optimizely for Publishers</a></p>
                <p><a href="/small-business" class="SL_hide">Optimizely for Small Business</a></p>
              </div>
              <div class="columns two">
                <h4>Customers</h4>
                <p><a href="/customers">Customer List</a></p>
                <p><a href="/customers/customer-stories">Customer Stories</a></p>
              </div>
              <div class="columns three">
                <h4>Resources</h4>
                <p><a href="/ab-testing">What is A/B Testing?</a></p>
                <p><a href="/split-testing">What is Split Testing?</a></p>
                <p><a href="/gettingstarted">Getting Started</a></p>
                <p><a href="/resources/live-demo-webinar">Live Demo Signup</a></p>
                <p><a href="/faq">FAQ</a></p>
                <p><a href="https://help.optimizely.com" target="_blank">Knowledge Base</a></p>
                <p><a href="/docs/api">API Documentation</a></p>
                <p id="SL-link-blog" class="SL_swap"><a href="http://blog.optimizely.com" target="_blank">Blog</a></p>
              </div>
              <div class="columns one">
                <h4>About</h4>
                <p><a href="/about">About</a></p>
                <p><a href="/jobs">Jobs</a></p>
                <p><a href="/press">Press</a></p>
                <p><a href="/events">Events</a></p>
                <p><a href="/contact">Contact</a></p>
              </div>
              <div class="columns two">
                <h4>Other</h4>
                <p><a href="/partners">Certified Partners</a></p>
                <p><a href="/demo">Request a Demo</a></p>
                <p><a href="/opt_out">Opt Out</a></p>
              </div>
            </div><!--/.row-->
          </div><!--/.container-->
        </footer>
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script>
          $(function(){
            var textDisplay = $('#visual-change-button');
            var textInput = $('#visual-change-input')
            textInput.keyup(function(){
              textDisplay.text( textInput.val() );
            });
          });
        </script>
    </body>
</html>